<!-- <div class='categories'>
  <button mat-button [matMenuTriggerFor]="menu">Categories</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div> -->
<div class="bg">
    <ul class='list'>
        <li class="grid" *ngFor='let place of places'>
          <img src="{{place.image}}" alt="">
          <h2>{{place.name}}</h2>
          <p>{{place.story}}</p>
          <a href="{{place.url}}"><button class='read'>View More</button></a>
        </li>
    </ul>
</div>
