/* .bg {
    background-image: url("../../assets/homeWallpaper.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

  li {
    list-style: none;
  }
  
  h2 {
    text-align: center;
  }
  
  img {
    height: 160px;
    width: 300px;
  }
  
  .grid {
    background-color: white;
    box-shadow: 5px 7px 10px lightgray;
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    height: auto;
    margin: 20px;
  }
  
  .read {
    height: 50px;
    width: 300px;
    background: black;
    color: white;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
  }

  
  .read:hover {
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color:  rgb(18, 15, 27);
    color: white;
  }   
  
  button:focus{
      outline: 0;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    margin: 20px;
  }
  