<div class="top">
    <button class="cat" mat-button [matMenuTriggerFor]="menu">Categories</button>
    <mat-menu #menu="matMenu">
      <button class='item' mat-menu-item>Historical</button>
      <button class='item' mat-menu-item>Ecotourism</button>
      <button class='item' mat-menu-item>Devotional</button>
      <button class='item' mat-menu-item>Cultural</button>
      <button class='item' mat-menu-item>Snow</button>
      <button class='item' mat-menu-item>Adventure</button>
    </mat-menu>
    
  <div class="search-container">
    <input type="text" placeholder=" Search Here..." name="search" [(ngModel)]="searchText">
    <button type="submit" class="search-icon"><i class="fa fa-search"></i></button>
  </div>  
</div>
<div class="page">
    <ul class='list'>
        <li class="grid" *ngFor='let place of places | filter: searchText'>
          <img src="{{place.image}}" alt="">
          <h2>{{place.name}}</h2>
          <p>{{place.story}}</p>
          <a href="{{place.url}}"><button class='read'>View More</button></a>
        </li>
    </ul>
</div>
