.title {
  /* border: 1px solid white; */
  padding: 25px;
  font-size: 40px;
  font-family: cursive;
  color: white;
  /* width:100%; */
}

.search-container {
    float: right;
    /* border:1px solid black; */
    border-radius: 15px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: white;
    height: 30px;
    width: 31%;
    font-size: 1.3em;
}
input{
  width: 90%;
  font-size: .9em;
  margin-left: 3px;
}
input:focus{
  outline: 0;
}
.fa-search{
  cursor: pointer;
  font-size: 1.5em;
}
.search-icon,
input{
  margin-top: 3px;
  border:1px solid transparent;
  border-radius: 10px;
  background-color: white;
}

.quote{
    font-family: "Tangerine", serif;
    position: relative;
    letter-spacing: 2px;
    line-height: 55px;
    top: 10%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgb(9, 39, 9);
    border-radius: 30px;
    font-size: 4em;
  }
    
  .bg {
      background-image: url("../../assets/homeWallpaper.jpg");
      height: 100%; 
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .btn {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color:black;
      color: white;
      font-size: 16px;
      padding: 16px 30px;
      border: none;
      cursor: pointer;
      border-radius: 30px;
      text-align: center;
  }
  
  .btn:hover {
      box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
      background-color:  rgb(23, 19, 34);
      color: white;
  } 
  .btn:focus{
    outline: 0;
  }